<div class="alert alert-secondary mt-4">

    <span class="text-nowrap">
        @if (Helper.IsManager())
        {
            <h4>
                Welcome to your new app MGR.
            </h4>
        }
        else
        {
            <h4>
                Welcome to your new app.
            </h4>
        }
    </span>
</div>
