@page "/AccountManager"

<h3>AccountManager</h3>
<a href="/Home" class="btn btn-warning">عودة الى الرئيسية</a>
@inject DataService Data
@inject NavigationManager mgr

<div class="sunRise-login">

    <div class="box">



        <div class="sunRise-login-logo">
            <img src="assets/Img/logo.jpg" />
        </div>
        <div class="sunRise-login-form">


            <div class="form-floating">
                <select @bind="UserId" class="form-select" id="studentClass" aria-label="Floating label select example">
                    <option selected disabled>اختر نوع المستخدم</option>
                    @foreach (var item in response.users)
                    {
                        <option value="@item.Id">@item.Type</option>
                    }

                </select>
                <label for="studentClass">نوع الحساب</label>
            </div>


            <div class="form-floating">
                <input @bind="Password" type="password" class="form-control" id="studentName" placeholder="">
                <label for="studentName" class="text-center"> كلمة مرور الجديدة</label>
            </div>            
            <div class="btn-action">
                <a class="btn btn-primary" @onclick="UserLogin">حفظ</a>
            </div>
        </div>
    </div>
</div>

@code {
    private GetAllUsersResponse response = new();
    private GeneralResponse resulte;
    private string UserId;
    private string Password;
    private static bool ShowMessage;
    private async void UserLogin()
    {
        resulte = await Data.EditePassword(UserId, Password);
        if (resulte.StatusCode == AutomatedReportCore.Enums.Requests_Status.Accepted)
        {
            mgr.NavigateTo("/Home");
        }        
    }
    protected override async Task OnInitializedAsync()
    {
        var res = await Data.GetAllUsers();
        response = res.Data.ToObj<GetAllUsersResponse>();
    }
}