@page "/AddHall"
@inject DataService Data;

<h3>AddHall</h3>
<a href="/Home" class="btn btn-warning">عودة الى الرئيسية</a>
<div class="add-data-hall">
    <div class="section-title">
        <h4>إضافة قاعة :</h4>
        <br />
    </div>
    <div class="row g-2">
        <div class="col-md-4">
            <div class="form-floating">
                <input @bind=requste.name type="text" class="form-control" id="hallName" placeholder="">
                <label for="studentName" class="text-center">اسم القاعة</label>
            </div>
        </div>
    </div>
    <div class="btn-action">
        <a href="/HallManager"
        onclick=@(() => SaveHall())>
            <img src="../assets/Img/save.png" alt="">
            <span>
                حفظ
            </span>
        </a>
    </div>
</div>
@code
{
    private AddHallRequste requste = new();
    private async void SaveHall()
    {
        var resulte = await Data.AddHall(requste);
    }
}
