@page "/AddStudent"
@inject DataService Data

<h3>AddStudent</h3>
<a href="/Home" class="btn btn-warning">عودة الى الرئيسية</a>
@if (isDataLoaded)
{
    <div class="add-data-student">
        <div class="student-title">
            <h4>إضافة بيانات طالب :</h4>
            <br />
        </div>
        <div class="row g-2">
            <div class="col-md">
                <div class="form-floating">
                    <input required @bind=requste.first_Name type="text" class="form-control" id="studentName" placeholder="">
                    <label for="studentName" class="text-center">الاسم</label>
                </div>
            </div>
            <div class="col-md">
                <div class="form-floating">
                    <input @bind=requste.last_Name type ="text" class="form-control" id="fatherName" placeholder="">
                    <label for="fatherName">الكنية</label>
                </div>
            </div>
        </div>
        <div class="row g-2">
            <div class="col-md">
                <div class="form-floating">
                    @*<input @bind=requste.Gender type="text" class="form-control" id="genderStudent" placeholder="">*@
                    <select @bind=requste.gender class="form-select" id="studentClass" aria-label="Floating label select example">
                        <option value="أنثى">أنثى</option>
                        <option value="ذكر">ذكر</option>
                    </select>
                    <label for="motherName">الجنس</label>
                </div>
            </div>
            <div class="col-md">
                <div class="form-floating">
                    <input @bind=requste.address type="text" class="form-control" id="addressStudent" placeholder="">
                    <label for="motherName">العنوان</label>
                </div>
            </div>
        </div>
        <div class="row g-2">
            <div class="col-md">
                <div class="form-floating">
                    <input @bind=requste.birthDay type="date" class="form-control" id="" placeholder="">
                    <label for="studentAge" class="text-center">تاريخ الميلاد</label>
                </div>
            </div>
            <div class="row g-2">
                <div class="col-md">
                    <div class="form-floating">
                        <input @bind=requste.parent_Name type="text" class="form-control" id="" placeholder="">
                        <label for="studentAge" class="text-center">اسم ولي الأمر</label>
                    </div>
                </div>
                <div class="col-md">
                    <div class="form-floating">
                        <input @bind=requste.parent_Phone type="text" class="form-control" id="" placeholder="">
                        <label for="studentAddress">رقم هاتف ولي الأمر</label>
                    </div>
                </div>
            </div>
            <div class="row g-2">
                <div class="col-md">
                    <div class="form-floating">
                        <input @bind=requste.phone type="text" class="form-control" id="studentPhone" placeholder="">
                        <label for="studentAddress">رقم الهاتف</label>
                    </div>
                </div>
                <div class="col-md">
                    <div class="form-floating">
                        <input @bind=requste.total_Payments type="text" class="form-control" id="studnetPay" placeholder="">
                        <label for="studentName" class="text-center">القسط الإجمالي</label>
                    </div>
                </div>
            </div>
            <div class="row g-2">
                <div class="col-md">
                    <div class="form-floating">
                        <select @bind=Did class="form-select" id="studentSection" aria-label="Floating label select example">

                            @foreach (var item in Divisions.divisions)
                            {
                                <option value="@item.Id">@item.Name</option>
                            }

                        </select>
                        <label for="studentSection">الشعبة</label>
                    </div>
                </div>
                <div class="col-md">
                    <div class="form-floating">
                        <select @onchange="ChangeDivisions" class="form-select" id="studentClass" aria-label="Floating label select example">
                            @foreach (var item in Certificates.certificates)
                            {
                                <option value="@item.Id">@item.Name</option>
                            }
                        </select>
                        <label for="studentClass">الصف</label>
                    </div>
                </div>
            </div>
            <div class="btn-action">
                <a href="/StudentsManager"
                onclick=@(() => SaveStudent())>
                    <img src="../assets/Img/save.png" alt="">
                    <span>
                        حفظ
                    </span>
                </a>
            </div>
        </div>
    </div>
}

@code
{
    private bool isDataLoaded = false;
    private GetAllCertificatesResponse Certificates = new();
    private GetAllDivisionsResponse Divisions = new();
    private AddStudentRequste requste = new();
    private Guid? Cid;
    private Guid Did;
    private async void SaveStudent()
    {
        requste.divisionId = Did;
        var resulte = await Data.AddStudent(requste);
    }
    private async Task ChangeDivisions(ChangeEventArgs e)
    {
        Cid = Guid.Parse(e.Value.ToString());

        var DivisionsData = await Data.GetAllDivisions(Cid);
        if (DivisionsData.StatusCode == AutomatedReportCore.Enums.Requests_Status.NotFound)        
            Divisions.divisions = new();             
        else
        Divisions = DivisionsData.Data.ToObj<GetAllDivisionsResponse>();

        StateHasChanged();
    }
    protected async override void OnInitialized()
    {
        var CertificatesData = await Data.GetAllCertificates();
        Certificates = CertificatesData.Data.ToObj<GetAllCertificatesResponse>();
        var DivisionsData = await Data.GetAllDivisions(Cid);
        if (DivisionsData.StatusCode == AutomatedReportCore.Enums.Requests_Status.NotFound)
            Divisions.divisions = new();
        else
            Divisions = DivisionsData.Data.ToObj<GetAllDivisionsResponse>();        

        isDataLoaded = true;
        StateHasChanged();
    }
}