@page "/ClassManager"
@layout IM_Layout
@inject DataService Data

<h3>ClassManager</h3>
<a href="/Home" class="btn btn-warning">عودة الى الرئيسية</a>
@if (response.classes.Count == 0)
{
    <div>
        <h6>
            No Data Here Yet !!
        </h6>
    </div>
}
@if (ShowMessage)
{
    <div>
        <h6>
            قم بحذف الارتباطات المتعلقة بهذا الموعد أولاً لتتمكن من حذفه
        </h6>
    </div>
}
<div class="appointment-mangement">
    <div class="container">
        <div class="add-new-appointment">

            <div class="btn-action">
                <a href="/AddClass">
                    <img src="../assets/Img/add.png" alt="">
                    <span>
                        اضافة موعد جديدة
                    </span>
                </a>
            </div>

        </div>
        <div class="show-appointment-mangement">
            <div class="hall-title">
                <h4>عرض المواعيد : </h4>
            </div>
            <div class="show-data-appointment table-responsive">
                <table class="table table-responsive">
                    <thead>
                        <tr>
                            <th scope="col">اسم</th>
                            <th scope="col">وقت البداية</th>
                            <th scope="col">وقت الانتهاء</th>
                            <th scope="col">العمليات</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in response.classes)
                        {
                            <tr>
                                <td>
                                    @item.Name
                                </td>
                                <td>
                                    @item.From_Time
                                </td>
                                <td>
                                    @item.To_Time
                                </td>
                                <td class="btn-action-list">
                                    <div class="btn-action">
                                        <a href="/EditeClass"
                                        onclick=@(() => SetClassId(item.Id))>
                                            <img src="../assets/Img/edit.png" alt="">
                                            <span>
                                                تعديل
                                            </span>
                                        </a>
                                    </div>
                                    <div class="btn-action">
                                        <a href="/ClassManager"
                                        onclick=@(() => DeleteClass(item.Id))>
                                            <img src="../assets/Img/delete.png" alt="">
                                            <span>
                                                حذف
                                            </span>
                                        </a>
                                    </div>
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
@code
{
    private GetAllClassesResponse response = new();
    private GeneralResponse resulte;
    private static bool ShowMessage;
    private void SetClassId(Guid id)
    {
        Helper.ClassId = id;
    }
    private async void DeleteClass(Guid id)
    {
        var res = await Data.DeleteClass(id);
        if (res.StatusCode == AutomatedReportCore.Enums.Requests_Status.BadRequest)
        {
            ShowMessage = true;
            StateHasChanged();
        }
    }
    protected override async void OnInitialized()
    {
        var resulte = await Data.GetAllClasses();
        if (resulte.StatusCode == AutomatedReportCore.Enums.Requests_Status.Ok)
        {
            response = resulte.Data.ToObj<GetAllClassesResponse>();
        }
        ShowMessage = false;
        StateHasChanged();
    }
}