@page "/counter"
@layout MainLayout
<h1>Counter</h1>

<p role="status">Current count: @currentCount</p>
<p role="status">Current count: @name</p>

<button class="btn btn-primary" @onclick="IncrementCount">Click me</button>
<input @bind="name" placeholder="name input" />
<button @onclick="Submet">Ok</button>

@code {
    private string name { get; set; }
    private string name2 { get; set; }
    private int currentCount = 0;
    private void Submet()
    {
        name2 += name;
    }
    private void IncrementCount()
    {
        currentCount++;
    }
}
