@page "/DivisionManager"
@layout IM_Layout

@inject DataService Data 
<h3>DivisionManager</h3>
<a href="/Home" class="btn btn-warning">عودة الى الرئيسية</a>
<div class="sectoin-mangement">
    <div class="container">
        <div class="add-new-section">

            <div class="btn-action">
                <a href="/AddDivision">
                    <img src="../assets/Img/add.png" alt="">
                    <span>
                        اضافة شعبة جديدة
                    </span>
                </a>
            </div>

        </div>

        <div class="daily-task-mangement">

            <div class="container">
                <div class="show-daily-task-mangement">
                    <div class="section-title">
                        <h4>عرض الشعب حسب</h4>
                    </div>
                    @if (response.certificates.Count > 0)
                    {
                        <div class="show-daily-task">
                            <a class="" href="/ShowDivision"
                           onclick=@(() => SetCertificateId(response.certificates.ElementAt(0).Id))>
                                <img src="../assets/Img/school.png" />
                                @response.certificates.ElementAt(0).Name
                            </a>

                            <a class="" href="/ShowDivision"
                           onclick=@(() => SetCertificateId(response.certificates.ElementAt(1).Id))>
                                <img src="../assets/Img/tools.png" />
                                @response.certificates.ElementAt(1).Name                                
                            </a>
                            <a class="" href="/ShowDivision"
                           onclick=@(() => SetCertificateId(response.certificates.ElementAt(2).Id))>
                                <img src="../assets/Img/literary.png" />
                                @response.certificates.ElementAt(2).Name
                            </a>
                        </div>
                    }                    
                </div>
            </div>
        </div>
    </div>
</div>
@code
{
    private GetAllCertificatesResponse response = new GetAllCertificatesResponse();
    private async void SetCertificateId(Guid id)
    {
        Helper.CertificateId = id;
    }    
    protected override async Task OnInitializedAsync()
    {
        var result = await Data.GetAllCertificates();
        response = result.Data.ToObj<GetAllCertificatesResponse>();
    }
}