@page "/DivisionManager"
@layout IM_Layout

<h3>DivisionManager</h3>
<div class="sectoin-mangement">
    <div class="container">
        <div class="add-new-section">

            <div class="btn-action">
                <a href="/AddDivision">
                    <img src="../assets/Img/add.png" alt="">
                    <span>
                        اضافة شعبة جديدة
                    </span>
                </a>
            </div>

        </div>

        <div class="daily-task-mangement">

            <div class="container">
                <div class="show-daily-task-mangement">
                    <div class="section-title">
                        <h4>عرض الشعب حسب</h4>
                    </div>
                    <div class="show-daily-task">
                        <a class="" href="/ShowDivision">
                            <img src="../assets/Img/school.png" />
                            طلاب التاسع
                        </a>

                        <a class="" href="/ShowDivision">
                            <img src="../assets/Img/tools.png" />
                            طلاب البكلوريا علمي
                        </a>
                        <a class="" href="/ShowDivision">
                            <img src="../assets/Img/literary.png" />
                            طلاب البكلوريا أدبي
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
