@page "/EditeHall"
@inject DataService Data;
<h3>EditeHall</h3>
<a href="/Home" class="btn btn-warning">عودة الى الرئيسية</a>
<div class="add-data-hall">
    <div class="section-title">
        <h4>تعديل قاعة :</h4>
        <br />
    </div>
    @if (isDataLoaded)
    {
        <div class="row g-2">
            <div class="col-md-4">
                <div class="form-floating">
                    <input @bind=Name type="text" class="form-control" id="hallName" placeholder="">
                    <label for="studentName" class="text-center">اسم القاعة</label>
                </div>
            </div>
        </div>
    }

        <div class="btn-action">
            <a href="/HallManager"
            onclick=@(() => Save())>
                <img src="../assets/Img/save.png" alt="">
                <span>
                    حفظ
                </span>
            </a>
        </div>
</div>
@code
{
    private bool isDataLoaded = false;
    private GetHallByIdResponse response = new ();
    private EditeHallRequste requste = new ();
    private string Name;
    protected override async void OnInitialized()
    {
        var resulte = await Data.GetHallById(Helper.HallId);
        response = resulte.Data.ToObj<GetHallByIdResponse>();

        Name = response.hall.Name;

        isDataLoaded = true;
        StateHasChanged();
    }
    private async void Save()
    {
        requste.id = response.hall.id;
        requste.name = Name;
        var resulte = await Data.EditeHall(requste);
    }
}

