@page "/EditeStudent"

<h3>EditeStudent</h3>
<div class="add-data-student">
    <div class="student-title">
        <h4>تعديل بيانات طالب :</h4>
        <br />
    </div>
    <div class="row g-2">
        <div class="col-md">
            <div class="form-floating">
                <input type="text" class="form-control" id="studentName" placeholder="">
                <label for="studentName" class="text-center">الاسم</label>
            </div>
        </div>
        <div class="col-md">
            <div class="form-floating">
                <input type="text" class="form-control" id="fatherName" placeholder="">
                <label for="fatherName">الكنية</label>
            </div>
        </div>
    </div>
    <div class="row g-2">
        <div class="col-md">
            <div class="form-floating">
                <input type="text" class="form-control" id="genderStudent" placeholder="">
                <label for="motherName">الجنس</label>
            </div>
        </div>
        <div class="col-md">
            <div class="form-floating">
                <input type="text" class="form-control" id="addressStudent" placeholder="">
                <label for="motherName">العنوان</label>
            </div>
        </div>
    </div>
    <div class="row g-2">
        <div class="col-md">
            <div class="form-floating">
                <input type="date" class="form-control" id="" placeholder="">
                <label for="studentAge" class="text-center">تاريخ الميلاد</label>
            </div>
        </div>
        <div class="row g-2">
            <div class="col-md">
                <div class="form-floating">
                    <input type="text" class="form-control" id="" placeholder="">
                    <label for="studentAge" class="text-center">اسم ولي الأمر</label>
                </div>
            </div>
            <div class="col-md">
                <div class="form-floating">
                    <input type="text" class="form-control" id="" placeholder="">
                    <label for="studentAddress">رقم هاتف ولي الأمر</label>
                </div>
            </div>
        </div>
        <div class="row g-2">
            <div class="col-md">
                <div class="form-floating">
                    <input type="text" class="form-control" id="studentPhone" placeholder="">
                    <label for="studentAddress">رقم الهاتف</label>
                </div>
            </div>
            <div class="col-md">
                <div class="form-floating">
                    <input type="text" class="form-control" id="studnetPay" placeholder="">
                    <label for="studentName" class="text-center">القسط الإجمالي</label>
                </div>
            </div>
        </div>
        <div class="row g-2">
            <div class="col-md">
                <div class="form-floating">
                    <select class="form-select" id="studentSection" aria-label="Floating label select example">

                        <option value="1">الاولى</option>

                    </select>
                    <label for="studentSection">الشعبة</label>
                </div>
            </div>
            <div class="col-md">
                <div class="form-floating">
                    <select class="form-select" id="studentClass" aria-label="Floating label select example">

                        <option value="1">تاسع</option>
                        <option value="2">بكلوريا علمي</option>
                        <option value="3">بكلوريا أدبي</option>
                    </select>
                    <label for="studentClass">الصف</label>
                </div>
            </div>
        </div>
        <div class="btn-action">
            <a href="showSection.html">
                <img src="../assets/Img/save.png" alt="">
                <span>
                    حفظ
                </span>
            </a>
        </div>
    </div>
</div>
