@page "/EditeClass"

<h3>EditeClass</h3>
<div class="add-data-appointment">
    <div class="section-title">
        <h4>تعديل موعد :</h4>
        <br />
    </div>
    <div class="row g-2">
        <div class="col-md">
            <div class="form-floating">
                <input type="text" class="form-control" id="appointmentName" placeholder="">
                <label for="studentName" class="text-center">اسم الموعد</label>
            </div>
        </div>
        <div class="col-md">
            <div class="form-floating">
                <input type="time" class="form-control" id="timeStart" placeholder="">
                <label for="studentName" class="text-center">وقت البدء</label>
            </div>
        </div>
        <div class="col-md">
            <div class="form-floating">
                <input type="time" class="form-control" id="endTime" placeholder="">
                <label for="studentName" class="text-center">وقت الانتهاء</label>
            </div>
        </div>
    </div>
    <div class="btn-action">
        <a href="">
            <img src="../assets/Img/save.png" alt="">
            <span>
                حفظ
            </span>
        </a>
    </div>

</div>

