@page "/EditeTeacher"

<h3>EditeTeacher</h3>
<div class="add-data-teacher">
    <div class="section-title">
        <h4>تعديل مدرس  :</h4>
        <br />
    </div>
    <div class="row g-2">
        <div class="col-md">
            <div class="form-floating">
                <input type="text" class="form-control" id="teacherName" placeholder="">
                <label for="studentName" class="text-center">اسم المدرس</label>
            </div>
        </div>
        <div class="col-md">
            <div class="form-floating">
                <input type="text" class="form-control" id="teacherNumber" placeholder="">
                <label for="teacherNumber" class="text-center">رقم الهاتف</label>
            </div>
        </div>
    </div>
    <div class="btn-action">
        <a href="">
            <img src="../assets/Img/save.png" alt="">
            <span>
                حفظ
            </span>
        </a>
    </div>

</div>

