@page "/Home"

<UserType/>
<nav>
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <div class="container-fluid">
            <a class="navbar-brand" href="#">
                <img src="assets/Img/logo.jpg" alt="">
            </a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
                    aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav m-auto">
                    <li class="nav-item ">
                        <a class="nav-link" href="/DivisionManager" role="button" data-bs-toggle="" aria-expanded="false">
                            إدارة المعهد
                        </a>
                    </li>
                    <li class="nav-item ">
                        <a class="nav-link" href="/StudentsManager" role="button" data-bs-toggle="" aria-expanded="false">
                            إدارة الطلاب
                        </a>
                    </li>
                    @*<li class="nav-item ">
                        <a class="nav-link" href="/" role="button" data-bs-toggle="" aria-expanded="false">
                            المهام اليومية
                        </a>
                    </li>*@
                </ul>
                <ul class="navbar-nav">
                    <li class="nav-item">
                        <a class="nav-link" href="/AccountManager" role="button" aria-expanded="false">
                            إدارة الحساب
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
</nav>
<main>
    <div class="statistices">
        <div class="row">
            <div class="col-md-4">
                <div class="statistic-card">
                    <div class="statistic-icon">
                        <img src="assets/Img/group (2).png" alt="">

                    </div>
                    <div class="statistic-body">
                        <h4>عدد الطلاب الكلي</h4>
                        <span>
                            1050
                        </span>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="statistic-card">
                    <div class="statistic-icon">
                        <img src="assets/Img/male.png" alt="">

                    </div>
                    <div class="statistic-body">
                        <h4>عدد الطلاب الذكور</h4>
                        <span>
                            1050
                        </span>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="statistic-card">
                    <div class="statistic-icon">
                        <img src="assets/Img/Female.png" alt="">

                    </div>
                    <div class="statistic-body">
                        <h4>عدد الطلاب الإناث</h4>
                        <span>
                            1050
                        </span>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="statistic-card">
                    <div class="statistic-icon">
                        <img src="assets/Img/school.png" alt="">

                    </div>
                    <div class="statistic-body">
                        <h4>عدد الطلاب التاسع</h4>
                        <span>
                            1050
                        </span>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="statistic-card">
                    <div class="statistic-icon">
                        <img src="assets/Img/tools.png" alt="">

                    </div>
                    <div class="statistic-body">
                        <h4>عدد الطلاب العلمي</h4>
                        <span>
                            1050
                        </span>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="statistic-card">
                    <div class="statistic-icon">
                        <img src="assets/Img/literary.png" alt="">

                    </div>
                    <div class="statistic-body">
                        <h4>عدد الطلاب الأدبي</h4>
                        <span>
                            1050
                        </span>
                    </div>
                </div>
            </div>
        </div>
    </div>

</main>