@page "/PaymentManager"

<h3>PaymentManager</h3>
<div class="payment-mangement">
    <div class="container">
        <div class="add-new-payment">
            <a href="/AddPayment" class="btn btn-primary">اضافة دفعة جديد</a>           
        </div>
        <div class="show-payment-mangement">
            <div class="hall-title">
                <h4>عرض الدفعات : </h4>
            </div>
            <div class="show-data-exam table-responsive">
                <table class="table table-responsive">
                    <thead>
                        <tr>
                            <th scope="col">قيمة الدفعة</th>
                            <th scope="col">الوصف</th>
                            <th scope="col">التاريخ</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>

                            <td class="action-btn">
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <br />
            <h4>
                الإجمالي الى الان:
            </h4>
        </div>

    </div>
</div>