@page "/PaymentManager"
@inject DataService Data;
<h3>PaymentManager</h3>
<a href="/Home" class="btn btn-warning">عودة الى الرئيسية</a>
<div class="payment-mangement">
    <div class="container">
        <div class="add-new-payment">
            <a href="/AddPayment" class="btn btn-primary">اضافة دفعة جديد</a>
        </div>
        <div class="show-payment-mangement">
            <div class="hall-title">
                <h4>عرض الدفعات : </h4>
            </div>
            @if (isDataLoaded)
            {
                <div class="show-data-exam table-responsive">
                    <table class="table table-responsive">
                        <thead>
                            <tr>
                                <th scope="col">قيمة الدفعة</th>
                                <th scope="col">الوصف</th>
                                <th scope="col">التاريخ</th>
                            </tr>
                        </thead>
                        <tbody>

                            @foreach (var item in response.payments)
                            {
                                <tr>
                                    <td>
                                        @item.Value
                                    </td>
                                    <td>
                                        @item.Description
                                    </td>
                                    <td>
                                        @item.CreatedAt
                                    </td>
                                    <td class="action-btn"></td>
                                </tr>
                            }
                        </tbody>
                    </table>
                </div>
                <br />
                <h4>
                    الإجمالي الى الان:@response.Sum
                </h4>
            }
        </div>

    </div>
</div>
@code
{
    private GetAllPaymentsResponse response = new();
    private bool isDataLoaded = false;

    protected override async void OnInitialized()
    {
        var resulte = await Data.GetAllPayments(Helper.StudentId);
        if (resulte.StatusCode == AutomatedReportCore.Enums.Requests_Status.Ok)
            response = resulte.Data.ToObj<GetAllPaymentsResponse>();
        isDataLoaded = true;
        StateHasChanged();
    }
}