@page "/ShowDivision"

<h3>ShowDivision</h3>
<div class="show-data-section table-responsive">
    <div class="data-section-title">
        <h3> بيانات الشعب :</h3>
        <br />
    </div>
    <table class="table table-responsive">
        <thead>
            <tr>
                <th scope="col">اسم الشعبة</th>
                <th scope="col">عدد الطلاب</th>
                <th scope="col">العمليات</th>
            </tr>
        </thead>
        <tbody>
            <tr>

                <td>
                    الاولى
                </td>
                <td>25</td>

                <td class="action-btn">
                    <a href="/EditeDivision" class="btn btn-warning">تعديل</a>

                    <button type="button" class="btn btn-danger">حذف</button>
@*                    <a href="" class="btn btn-secondary">الحصص</a>
*@
@*                    <a href="../exam/exam.html" class="btn btn-success">الاختبارات</a>
*@

                </td>
            </tr>

        </tbody>
    </table>
</div>